@import '../constants.scss';

.app-root {
  margin-top: $headerHeight;
  overflow: scroll;
  max-width: 100%;
}

.app-main {
  height: calc(100vh - 50px);

}

body {
  margin: 0px;
  max-width: 100%;
}
