@import '../constants.scss';

.app-root {
  margin-top: $headerHeight;
  overflow: scroll;
  max-width: 100%;
}

.app-main {
}

body {
  margin: 0px;
  max-width: 100%;
  font-family: $font;
}

h1 {
  font-size: 48px;
  color: $mainText;
}

h2 {
  font-size: 24px;
  color: lighten($mainText, 5%);
}

h3 {
  font-size: 20px;
  color: lighten($mainText, 10%);
  font-weight: 300;
}
