@import '../../../constants.scss';

$edgePadding: 300px;
$edgePaddingMobile: 10px;

.blog-base-root {
  background-color: $backgroundEven;
  svg {
    height: 48px;
    width: 48px;
  }
  .blog-base.back-area {

    @media only screen and (min-device-width : 320px) and (max-device-width : 479px) {
      margin: 0 0 10px $edgePaddingMobile;
    }
    @media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
      margin: 0 0 10px $edgePadding;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1999px) {
      margin: 0 0 10px $edgePadding;
    }
  }
  .blog-base.next-area {

    @media only screen and (min-device-width : 320px) and (max-device-width : 479px) {
      margin: 0 $edgePaddingMobile 10px 0;
    }
    @media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
      margin: 0 $edgePadding 10px 0;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1999px) {
      margin: 0 $edgePadding 10px 0;
    }
  }
  .blog-base.back-area svg {
    transform: rotate(180deg);
  }
  .blog-base.title {
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
  }
  .blog-base.paragraph {
    color: $mainText;
  }
  .blog-base.paragraph-title {
    color: black;
    font-weight: bold;
    padding: 20px 0 10px 0;
  }
  .blog-base.title-area, .blog-base.content {

    @media only screen and (min-device-width : 320px) and (max-device-width : 479px) {
      margin: 0 $edgePaddingMobile;
    }
    @media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
      margin: 0 $edgePadding;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1999px) {
      margin: 0 $edgePadding;
    }
  }
  .blog-base.next-area, .blog-base.back-area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $mainText;
    &:hover {
      color: $watermelon;
    }
  }
  .blog-base.navigation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 30px 0;
  }
}
