@import '../../../constants.scss';

$edgePadding: 300px;
$edgePaddingMobile: 10px;

.blog-base-root {
  background-color: $backgroundEven;
  svg {
    height: 48px;
    width: 48px;
  }
  .blog-base.back-area {

    @include mobile {
      margin: 0 0 10px $edgePaddingMobile;
    }
    @include pad {
      margin: 0 0 10px $edgePadding;
    }
    @include desktop {
      margin: 0 0 10px $edgePadding;
    }
  }
  .blog-base.next-area {

    @include mobile {
      margin: 0 $edgePaddingMobile 10px 0;
    }
    @include pad {
      margin: 0 $edgePadding 10px 0;
    }
    @include desktop {
      margin: 0 $edgePadding 10px 0;
    }
  }
  .blog-base.back-area svg {
    transform: rotate(180deg);
  }
  .blog-base.title {
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
  }
  .blog-base.paragraph {
    color: $mainText;
  }
  .blog-base.paragraph-title {
    color: black;
    font-weight: bold;
    padding: 20px 0 10px 0;
  }
  .blog-base.title-area, .blog-base.content {

    @include mobile {
      margin: 0 $edgePaddingMobile;
    }
    @include pad {
      margin: 0 $edgePadding;
    }
    @include desktop {
      margin: 0 $edgePadding;
    }
  }
  .blog-base.next-area, .blog-base.back-area {
    @include flexbox();
    align-items: center;
    cursor: pointer;
    color: $mainText;
    &:hover {
      color: $watermelon;
    }
  }
  .blog-base.navigation {
    @include flexboxJustify(space-between);
    align-items: center;
    padding: 60px 0 30px 0;
  }
}
