@import '../../constants.css';

/* $headerColor: lighten($carbon, 20%); */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: var(--headerHeight);
  opacity: 0.93;
  background-color: var(--darkGrey);
  z-index: 100;
}

.header__elem {
  display: flex;
  align-items: center;
  color: var(--whiteFont);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Open Sans", "Helvetica Neue", "Ubuntu", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  height: 100%;
}

.header__elem:hover {
  color: var(--linkHover);
  background-color: var(--hoverGrey);
  border-bottom: none;
}

.header__githubLink {
  margin-left: auto;
  margin-right: 20px;
}

.header svg {
  height: 32px;
  width: 32px;
  cursor: pointer;
  color: var(--carbon);
}

.header svg:hover {
  color: var(--linkHover);
}
