
.resume-section {
  width: 100%;
  vertical-align: middle;
  line-height: 50px;
  .title {
    display: inline-block;
    vertical-align: middle;
    float: left;
  }

  .chevron-container {
    display: inline-block;
    vertical-align: middle;
    float: right;
    line-height: 50px;
  }

  .title-area {
    border-bottom: 1px solid grey;
    padding: 10px;
    color: #37BFFF;
    font-size: 26px;
    font-family: Helvetica;
    font-weight: bold;
    height: 40px;
  }

  .chevron {
    display: inline-block;
    position: relative;
    float: right;
    padding-right: 20px;
    color: grey;
    font-size: 16px;
    top: 13px;
  }
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}
