@import '../constants.scss';

.footer-root {
  position: relative;
  width: 100%;
  background-color: $header;
  height: $footerHeight;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  flex-direction: column;
  >div, >h3 {
    width: 100%;
    text-align: center;
    color: lighten($carbon, 20%);
  }
  .footer.info {
    padding-top: 40px;
  }
  .footer.message {
    padding-bottom: 40px;
  }
  svg {
    height: 32px;
    width: 32px;
    color: $carbon;
    &:hover {
      color: lighten($carbon, 80%);
    }
  }
  .footer.social-area {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    a {
      margin: 0 3px;
    }
  }
}

.footer-elem {
  color: white;
  display: inline-block;
}
