@import '../constants.scss';

.footer-root {
  width: 100%;
  background-color: $header;
  height: $footerHeight;
  svg {
    height: 32px;
    width: 32px;
    color: $carbon;
    &:hover {
      color: lighten($carbon, 80%);
    }
  }
}

.footer-elem {
  color: white;
  display: inline-block;
}
