.header-root {
  position: absolute;
  width: 100%;
  background-color: darkslategray;
  height: 40px;
  line-height: 40px;
  top: 0;
  left: 0;
}

.header-elem {
  color: white;
  display: inline-block;
  font-family: Arial;
  margin: auto;
  vertical-align: middle;
  padding-left: 40px;
  cursor: pointer;
}
