.tabArea-root {
  position: relative;
  .tab {
    height: 16px;
    padding: 5px;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    color: grey;
    border: 1px solid lightgrey;
    border-top: none;
    border-radius: 0 0 10px 10px;
    float: right;
    cursor: pointer;
    &.selected {
      font-weight: bold;
    }
  }
  .tab-select-line {
    width: 100%;
    border-bottom: 3px solid darkcyan;
    padding-top: 2px;
  }
  .tabs {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
