@keyframes example {
  from {left: 400px;}
  to {left: 0;}
}

.tagcloud-root {
  >div {
    position: relative;
    left: 600px;
    &.animate {
      animation-name: example;
      animation-duration: .5s;
      left: 0;
    }
  }
}
