@keyframes example {
  from {left: 400px;}
  to {left: 0;}
}

.tagcloud-root {
  >div {
    position: relative;
    left: 400px;
    &.animate {
      animation-name: example;
      animation-duration: 4s;
    }
  }
}
