@import '../../constants.scss';

.blog-entry-root {
  border: 1px solid $carbon;
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  .blog-entry.title {
    color: $mainText;
  }
  .blog-entry.date {
    color: $mainText;
  }
  .blog-entry.summary {
    color: $mainText;
  }
}
