@import '../../constants.scss';

.blog-selector-root {
  background-color: $backgroundOdd;
  position: relative;
  padding: 30px 100px;
  @include mobile {
    padding: 30px 10px;
  }
  @include pad {
    padding: 30px 100px;
  }
  @include desktop {
    padding: 30px 100px;
  }
}
