$timeline-elem-padding: 300px;
$font-fam: Arial;
.cool-timeline-root {
  .timeline-elem {
    position: relative;
    border-radius: 100%;
    border: 2px solid black;
    height: 7px;
    width: 7px;
    cursor: default;
    top: 0px;
    left: 0px;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    &:hover {
      background: #5bc0de;
      border-color: #3b10be;
    }
  }

  .timeline-elem-outer {
    padding-right: 100px;
    padding-left: 100px;
    height: 650px;
    &.even {
      background-color: white;
    }
    &.odd {
      background-color: ghostwhite;
    }
  }

  .job-title {
    font-size: 36px;
    font-family: $font-fam;
    color: black;
    padding-top: 30px;
    text-align: center;
  }
  .employer {
    font-size: 24px;
    font-family: $font-fam;
    color: darkgrey;
    text-align: center;
  }
  .start-end-dates {
    font-size: 20px;
    color: darkgray;
    text-align: center;
  }

  .timeline-elem-wrapper {
    margin: auto;
    height: 500px;
    position: relative;
    padding: 0 0 25px 0;
    img {
      height: 100px;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      &.bigImage {
        height: 400px;
        right: 0;
        top: 75px;
      }
    }
    .tabArea-root {
      position: absolute;
      display: inline-block;
      width: 600px;
      height: 400px;
      right: 0;
      .tab-content {
        position: relative;
        .description {
          position: absolute;
          font-family: $font-fam;
          font-size: 22px;
          color: #7d7d7d;
          font-style: italic;
          text-align: center;
          bottom: 0;
          padding-bottom: 30px;
        }
      }
      .tagcloud-root {
        margin: 0 auto;
        width: 400px;
      }
    }
  }

  .timeline-elem-display-date {
    font-size: 12px;
    color: grey;
  }

  .timeline-elem-big {
    border-radius: 100px;
    border: 2px solid #777777;
    height: 100px;
    width: 100px;
  }

  .timeline-elem-date {
    color: #999999;
    padding: 20px;
  }

  .timeline-elem-content {
    color: #777777;
    padding: 0 10px;
  }

  .timeline-root {
    position: relative;
    height: 100%;
    width: 22000px;
    top: 47%;
  }

}
