@import '../../constants.scss';

$timeline-elem-padding: 300px;
.cool-timeline-root {
  position: relative;
  .timeline.banner {
    width: 100%;
    height: 100%;
  }
  .timeline.jon {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    border-radius: 50%;
    border: 5px solid $neutral;
    width: 250px;
    margin: 0 auto;
  }
  .timeline-elem-outer {
    padding-right: 100px;
    padding-left: 100px;
    height: 650px;
    &.even {
      background-color: $backgroundEven;
    }
    &.odd {
      background-color: $backgroundOdd;
    }
    &.education {
      background-color: $backgroundEducation;
    }
  }

  .job-title {
    padding-top: 30px;
    text-align: center;
  }
  .employer {
    text-align: center;
  }
  .start-end-dates {
    text-align: center;
  }
  >.tagcloud-root {
    background-color: $backgroundOdd;
  }

  .timeline-elem-wrapper {
    margin: auto;
    height: 500px;
    position: relative;
    padding: 0 0 25px 0;
    img {
      height: 100px;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      &.bigImage {
        height: 350px;
        right: 0;
        top: 0px;
      }
    }
    .tabArea-root {
      position: absolute;
      display: inline-block;
      width: 600px;
      height: 400px;
      right: 0;
      .tab-content {
        position: relative;
        .description {
          position: absolute;
          color: $subText;
          font-style: italic;
          text-align: center;
          bottom: 0;
          padding-bottom: 30px;
        }
      }
      .tagcloud-root {
        margin: 0 auto;
        width: 400px;
      }
    }
    &.education {
      top: 25%;
      height: initial;
    }
  }

  .timeline-elem-display-date {
    font-size: 12px;
    color: $subText;
  }

  .timeline-elem-big {
    border-radius: 100px;
    border: 2px solid #777777;
    height: 100px;
    width: 100px;
  }

  .timeline-elem-date {
    color: $subText;
    padding: 20px;
  }

  .timeline-elem-content {
    color: $subText;
    padding: 0 10px;
  }

  .timeline-root {
    position: relative;
    height: 100%;
    width: 22000px;
    top: 47%;
  }

  .timeline.title {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 400px;
    font-size: 48px;
    color: $niceGrey;
    width: 100%;
    text-align: center;
    font-weight: 800;

  }

}
