.cool-timeline-root {
  .timeline-elem {
    position: relative;
    border-radius: 100%;
    border: 2px solid black;
    height: 7px;
    width: 7px;
    cursor: default;
    top: 0px;
    left: 0px;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    &:hover {
      background: #5bc0de;
      border-color: #3b10be;
    }
  }

  .timeline-elem-wrapper {
    width: 66%;
    margin: auto;
    height: 250px;
    position: relative;
    img {
      height: 100px;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    .tabArea-root {
      position: absolute;
      right: 0;
      display: inline-block;
      width: 500px;
      height: 250px;
      .tagcloud-root {
        margin: 0 auto;
        width: 200px;
      }
    }
  }

  .timeline-elem-display-date {
    font-size: 12px;
    color: grey;
  }

  .grow {
    height: 200px;
    width: 200px;
    z-index: 10;
    top: -100px;
    left: -100px;
    text-align: center;
    background: white;
    color: black;
    border-radius: 100%;
    overflow: hidden;

    &:hover {
      background: white;
      border-color: #777777;
    }
  }

  .timeline-span-row {
    position: relative;
    height: 10px;
    top: 30px;
    margin-top: 3px;
    .timeline-span {
      display: inline-block;
      position: absolute;
      height: 8px;
      border: 1px solid #333333;
      border-radius: 10px;
      box-shadow: 3px 3px 3px #888888;
    }
  }

  .timeline-elem-big {
    border-radius: 100px;
    border: 2px solid #777777;
    height: 100px;
    width: 100px;
  }

  .timeline-elem-date {
    color: #999999;
    padding: 20px;
  }

  .timeline-elem-content {
    color: #777777;
    padding: 0 10px;
  }

  .timeline-root {
    position: relative;
    height: 100%;
    width: 22000px;
    top: 47%;
  }

  .timeline-line {
    border-top: 1px solid #777777;
    width: 100%;
    top: 6px;
    position: relative;
  }

  .timeline-tag-cloud {
    margin-left: 50px;
  }
}
