$sky: #caebf2;
$carbon: #a9a9a9;
$watermelon: #ff3b3f;
$neutral: #efefef;
$almostWhite: #fafafa;
$fresh: #4abdac;
$niceGrey: #edeeef;
$darkGrey: #222222;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Open Sans", "Helvetica Neue", "Ubuntu", sans-serif;


$headerHeight: 50px;
$footerHeight: 350px;

$header: $darkGrey;
$backgroundOdd: $niceGrey;
$backgroundEven: white;
$backgroundEducation: lighten($darkGrey, 5%);
$mainText: darken($carbon, 30%);
$subText: $carbon;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexboxJustify($just) {
  @include flexbox();
  -webkit-justify-content: $just;
  justify-content: $just;
}
